.root {
  // width: 968px;
  // height: 812px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 1px solid grey;
  padding: 40px;
}

@media (max-width: 1200px) {
  // .root {
  //   // width: 800px;
  //   // height: 812px;
  //   background: #ffffff;
  //   border-radius: 20px;
  //   box-shadow: 1px solid grey;
  //   padding: 40px;
  // }
}
