html, body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    background: #F5F5F5;
     margin: 0;
     height: 100vh;
}

.container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.middle_cotainer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin: 0 auto;
}

.top_Username{
    margin: 45px 0;
}